body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    color: #000000;
    padding:5px;
}
h1, h2, h3 {
    color: #2a5d84;
    margin-bottom: 0.5em;
}
a {
    text-decoration: none;
    color: rgb(17, 16, 16);
}
button {
    background-color: #26455c;
    color: #e8dcdc;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {
    background-color: #425e72;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(190, 184, 184, 0.484);
    position: sticky;
    top: 0;
    
}
.logo {
    font-size: 1.5em;
    font-weight: bold;
}
.nav-links {
    display: flex;
    list-style: none;
}
.nav-links li {
    margin: 0 15px;
}
.nav-links a:hover {
    color: #2a5d84;
}
.hero {
    background: url('hotel.jpg') no-repeat center center/cover;
    height: 70vh;
    color: #3d0202;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-overlay {
    background-color: rgba(190, 184, 184, 0.484);
    padding: 22px;
    border-radius:20px;

}
.hero h1 {
    font-size: 2.9em;
}

.rooms {
    padding: 20px;
    background-color:  rgba(190, 184, 184, 0.484);
    text-align: center;
    border-radius: 30px;
}
.room-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.room img {
    width: 100%;
    height:50% ;
    border-radius: 10px;
}
.room button {
    margin-top: 10px;
    border-radius: 10px;
}

.amenities {
    padding: 20px;
    text-align: center;
}
.amenities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}
.amenity img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.contact {
    padding: 20px;
    text-align: center;
}
.contact form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.contact input, .contact textarea {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
}
footer {
    text-align: center;
    padding: 20px;
    background-color:rgba(161, 157, 157, 0.484);
    color: #0d0d0d;
    border-radius: 20px;
}
footer a {
    color: #090909;
    margin: 0 10px;
}
footer a:hover {
    text-decoration: underline;
}

