body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    color: #6a6667;
    padding:5px;
}
h1, h2, h3 {
    color: #2a5d84;
    margin-bottom: 0.5em;
}
a {
    text-decoration: none;
    color: rgb(17, 16, 16);
}
button {
    background-color: #26455c;
    color: #e8dcdc;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

